body {
  background-color: black;
}
p {
  color: greenyellow;
  text-align: center;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
img {
  margin-left: 100px;
  max-width: 100%;
  height: auto;
}
footer {
  background-color: black;
}
h2 {
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
button {
  margin-left: 220px;
}
