<div class="header">
  <h1>{{ title }}</h1>

  <mat-toolbar color="primary">
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/resources" routerLinkActive="active">
        Resources
      </button>
      <button mat-menu-item routerLink="/about-you" routerLinkActive="active">
        About You
      </button>
      <button mat-menu-item routerLink="/faq" routerLinkActive="active">
        FAQ
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
