<div class="contianer">
  <div
    class="flex-container"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="30px"
  >
    <div fxFlex="40">
      <mat-card class="example-card">
        <mat-card-title>We See the Future of Global Finance</mat-card-title>
        <mat-divider inset></mat-divider>
        <mat-card-content>
          <h2>Unlocking the Power of Blockchain</h2>
          <p>
            The current global payments infrastructure does not meet today’s
            business or consumer demands. By unlocking the power of blockchain
            and digital asset technology, financial institutions can
            dramatically improve the speed, cost and reliability of how people
            transact around the world.
          </p>

          <h2>Creating an Inclusive Financial System</h2>
          <p>
            Our solutions unify the infrastructure underlying global payments.
            But it doesn’t stop there. Through the power of decentralized
            financial technology, institutions and the businesses and people
            they serve have access to an open and inclusive system no matter
            where they are in the world.
          </p>
          <h2>Accelerating the Internet of Value</h2>
          <p>
            This new era in global finance takes shape in the Internet of Value
            (IoV)—a world where money moves like information does today. Like
            the internet’s impact on information sharing and communication, the
            IoV will serve as an explosive catalyst for value exchange: spawning
            a new chapter in globalization, redefining entire industries and
            giving rise to new ones.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <span class="flex-spacer"></span>
    <div fxFlex="50">
      <app-video-player>
        <mat-spinner>Loading ....Please Wait</mat-spinner>
      </app-video-player>
    </div>
  </div>
</div>
